body {
  font-family: 'Oswald', sans-serif;
}

.card-title  {
  text-align: center;
  font-family: 'Oswald', sans-serif;
  padding-top: 500px;
  font-size: 75px;
}




.card-img    {

  object-fit: contain;
    height: 737px;
 }

.card-text {
  font-family: 'Oswald', sans-serif;
  text-align: center;
  padding-bottom: ;
  font-size: 72px;
  font-weight: bolder;
}

.rectangulofinal{
  padding-top:150px;
}

.tableIcon {
  padding-top: 6.5%;
  padding-right:26%;
}

.fondofooter {
  height:170px;
}

.textoFooter1 {
  text-align: left;
  font-family: 'Oswald', sans-serif;
  letter-spacing: 0;
  color: #FFFFFF;
  opacity: 1;
  padding-top: 9.5%;
  padding-left: 30%;
}

@media screen and (max-width: 796px) {
  #footer1 {
    visibility: hidden;
    clear: both;
    float: left;
    margin: 10px auto 5px 20px;
    width: 100%;
    display: none;
  }
}
