body {
  font-family: 'Oswald', sans-serif;

}

.container-fluid   {
  width: 100%;
}

@media (min-width: 768px)   {
     #fotoportada {

     }
   }
.card-img    {
object-fit: contain;
display: flex;
 }

.card-img-overlay {
  text-align: center;
  font-family: 'Oswald', sans-serif;
  font-size: 50pt;
  color: white;
}

.yosoy  {
  font-weight: lighter;
}

.nombre   {
  font-weight: bold;
}

#work  {
  text-align: center;
  font-family: 'Oswald', sans-serif;
  color: white;
  font-size: 40pt;
  font-weight: bolder;
  margin-top: 25px;
  margin-bottom: 25px;
}

label   {
  color: white
}

@media screen and (max-width: 796px) {
   #about {
    visibility: hidden;
    clear: both;
    float: left;
    margin: 10px auto 5px 20px;
    width: 100%;
    display: none;
  }
}

@media screen and (max-width: 796px) {
   #presentacion {
    visibility: hidden;
    clear: both;
    float: left;
    margin: 10px auto 5px 20px;
    width: 100%;
    display: none;
  }
}

  #about {
  font-size: 20pt;
  text-align: center;
  padding-top: 20px;
  width: 100%;
  }

.lineaseparacion1  {
  margin-top: 0rem;
    margin-bottom: 2rem;
    margin-left: 31rem;
    margin-right: 31rem;
    border: 0;
    border-top: 2px solid rgb(255, 255, 255);
}

.lineaseparacion2   {
  width: 10%;
  margin-top: 1rem;
  margin-bottom: 2rem;
  border: 0;
  border-top: 4px solid rgba(125, 51, 156, 0.48);
  color: black;

}
.Experiencia {
  text-align: center;
  size: 30px;

}

.fas  {
  font-size: 94px;
  padding-bottom: 100px;
  color: #ea44a0;
}

.tituloexperiencia {
  padding-top: 50px;
}

h4  {
  letter-spacing: 2px;
    line-height: 38px;
}

.exp   {
    font-weight: bolder;
    font-family: inherit;
    margin-top: -47px;
    font-size: 21pt;
    margin-bottom: 1rem;
    color: #660066;
}

.lugar   {
  bottom: 0.75em;
  font-size: 15pt;
}
.mistrabajos  {
  background-color: #660066;
padding-bottom: 70px;
}

.rectangulofinal{
  padding-top:150px;
}

.tableIcon {
  padding-top: 6.5%;
  padding-right:26%;
}

.fondofooter {
  height:170px;
}

.textoFooter1 {
  text-align: left;
  font-size: 34pt;
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
  letter-spacing: 0;
  color: #FFFFFF;
  opacity: 1;
}

@media screen and (max-width: 796px) {
  #footer1 {
    visibility: hidden;
    clear: both;
    float: left;
    margin: 10px auto 5px 20px;
    width: 100%;
    display: none;
  }
}
